:root {
	--color-primary: hsl(197, 100%, 69%);
	--color-primary-dark: hsl(197, 100%, 50%);
	--color-white: #fff;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-image: url("../../img/1.jpeg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 17px;
}
code {
	/* background-color: gray;
	color: var(--color-primary-dark); */
	background-color: var(--color-white);
	color: var(--color-primary-dark);
	padding: 25px;
	border-radius: 30px;
	max-width: 1200px;
	width: 100%;
	margin-inline: 30px;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.btn {
	text-decoration: none;
	color: var(--color-white);
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: var(--color-primary);
	padding: 10px;
	margin-block: 10px;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
	border: none;
	cursor: pointer;
}
.btn:hover {
	background-color: var(--color-primary-dark);
	transform: scale(1.1);
}

input {
	padding: 10px;
	margin-block: 10px;
	border-radius: 5px;
	border: none;
}

h2 {
	background: #2a2a2a36;
	padding: 20px;
	border-radius: 15px;
	backdrop-filter: blur(10px);
}
